#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     2,3,0,0
PRODUCTVERSION  2,3,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Suprematist"
            VALUE "FileDescription",  "WoW 3.3.5a Performance Optimizer"
            VALUE "FileVersion",      "2.3.0"
            VALUE "InternalName",     "wow_optimize"
            VALUE "LegalCopyright",   "MIT License"
            VALUE "OriginalFilename", "wow_optimize.dll"
            VALUE "ProductName",      "wow_optimize"
            VALUE "ProductVersion",   "2.3.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END